body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: blanchedalmond
}

h1 {
  color: #ff5482;

a {
  color: #00B7FF;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: yellow;
}

p {
  color: #146B0E;
}
